.cards {
    border: 1px solid black;
    width: 50%;
    alignItems: center;
    margin-bottom: 20px;
    margin-left: 30%;
}

.cards img {
    width: 50%;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}