header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    background: #006400;
    color: white;
}

header span {
    margin-right: 10px;
}

.product-item{
    width: 30%;
    margin: 20px;
}

.product-wrapper{
    display: flex;
    flex-wrap: wrap;
}